{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supple Extrato</title>
    <link rel="stylesheet" href="{% static  'css/style.css' %}">

</head>

<body>
    <a href="{% url 'pagina_inicial' %}"> <img class="botaovoltar" src="/financeiro/static/img/voltar.svg" alt="ilustraçao cofrinho com moedas ">
    </a>

    <div class="titulo">

        <h2>Extrato</h2> <br>
        <h4>Saldo: </h4> <br>
        <h2>{{ saldo_do_usuario }}</h2>
    </div>
    <div>
        {% if lista_mov %}
        <ul class="extrato">
            {% for movimentacao in lista_mov %}
            <div class="movimentacaoextrato">
                <li> {{ movimentacao.tipo_movimentacao }} | {{ movimentacao.valor }} | {{ movimentacao.descricao }} | {{ movimentacao.data }}</li>

            </div>
            {% endfor %}
        </ul>
        {% else %}
        <p class="avisomovimentacao">Nenhuma movimentação feita</p>
        {% endif %}
    </div>
</body>

</html>
