{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extrato</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
</head>

<body>
    <a href="{% url 'pagina_inicial' %}"><h3>Pagina Inicial</h3></a>
    <a href="{% url 'index' %}"><h3>Adicionar Movimentação</h3></a>
    <h1>Extrato</h1>
    <div>
        {% if lista_mov %}
        <ul class="extrato">
            {% for movimentacao in lista_mov %}

            <li>{{ movimentacao.valor }} | {{ movimentacao.descricao }} | {{ movimentacao.data }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>

</html>
