<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta</title>
</head>

<body>

    <h1>Olá, {{request.user.first_name}}</h1>
    <h3>saldo:</h3>
    <h3>Adicionar despesa</h3>
    <form action='/submit/' method='post'>
     {% csrf_token %}
        <p>
            <label>Valor
                <input name="valor" type="number" step="0.01" required>
            </label>
        </p>



     <h3>Adicionar ganhos</h3>

        <p>
            <label>Valor
                <input name="valor2" type="number" step="0.01" required>
            </label>
        </p>

        <button type="submit" value='submit'>Enviar</button>
    </form>

</html>
