{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta</title>
    <link rel="stylesheet" href="{% static  'css/style.css' %}">


</head>

<body>
    <a href="{% url 'pagina_inicial' %}">
        <img class="botaovoltar" src="{% static 'img/voltar.svg' %}" alt="botao voltar ">
    </a>

    <div>

        <h2 class="saldo">Adicionar movimentação</h2>
        <h2 class="titulo">saldo:{{ saldo_do_usuario }}</h2>



    </div>




    <div class="inputcontainer">
        <form action='/submit/' method='POST'>
            {% csrf_token %}



            <input class="indexinput " placeholder="Valor " name="valor" placeholder="Valor " type="number" step="0.01" required>



            <select class="indexinput " name="tipo_movimentacao" required>
                <option name="entrada">Entrada</option>
                <option name="despesa">Despesa</option>
            </select>

            <input name="usuario" style="display: none;" value="{{request.user.id}}" type="number">
            <input name="carteira" style="display: none;" value="{{carteira.id}}" type="number">


            <input class="indexinput " placeholder="Descrição " name="descricao" type="text" required>


            <input class="data " placeholder="Data " name="data" type="date" required>


            <button class="button " type="submit" value='submit'>Enviar</button>
        </form>
    </div>



</body>

</html>