{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta</title>
    <link rel="stylesheet" href="{% static  'css/style.css' %}">


    {% comment %} <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap" rel="stylesheet"> {% endcomment %}

</head>

<body>
    <nav class="nav-horizontal">
        <a href="{% url 'pagina_inicial' %}"><h3>Página Inicial</h3></a>
        <h3>Movimentações</h3></a>
        <a href="{% url 'extrato' %}"><h3>Extrato</h3></a>
        <a href="{% url 'poupanca' %}"><h3>Poupança</h3></a>
        <a href="{% url 'logout' %}"><h3>Logout</h3></a>
    </nav>

    <h1>Olá, {{request.user.first_name}}</h1>
    <h3>saldo:</h3>

    <h3>Adicionar movimentação:</h3>
    <div class="container">
        <form action='/submit/' method='POST'>
            {% csrf_token %}


            <p><label for="valor">Valor </label></p>
            <input name="valor" type="number" step="0.01" required>

            {% comment %} <p><label>Tipo movimenção</label></p> {% endcomment %}

            <input name="usuario" style="display: none;" value="{{request.user.id}}" type="number">
                <input name="carteira" style="display: none;" value="{{carteira.id}}" type="number">

            <p><label for="descricao">Descrição</label></p>
            <input name="descricao" type="text" required>

            <p><label for="data">Data</label></p>
            <input name="data" type="date" required>


            <button type="submit" value='submit'>Enviar</button>
        </form>
    </div>

    {% if request.user.is_authenticated %}
        <a href="/logout/">Logout</a>
    {% endif %}

</body>

</html>
