{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supple Login</title>
    <link rel="stylesheet" href="{% static  'css/style.css' %}">


</head>

<body>
    <main>
        <div class="logincontainer">
            <img src="{% static 'img/logo_inicial-03.svg' %}" class="logologin" alt="logo supple">
            <h1 class="titulologin">Faça login para acessar sua conta</h1>
            <form class="formlogin" method='POST' action='/login/submit'>
                {% csrf_token %}

                <input class="inputlogin " placeholder="Email " name="username" type="email" required=True><br>



                <input class="inputlogin " name="password" placeholder="Senha " type="password" required=True>

                <button class="button" type="submit" value='submit' class='btn btn-primary'>Entrar</button>



            </form>


            <img class="imagemlogin" src="{% static 'img/imagem_login.svg' %} " alt="ilustraçao criança com foguete ">

        </div>
        <!--{% for message in messages %} {{message}} {% endfor %}-->
    </main>
</body>

</html>