{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
</head>

<body>
    <h1>Olá, {{request.user.first_name}}</h1>
    <div class="container-nav">
        <div>
            <a href="{% url 'index' %}"><h3>Adicionar<br> Movimentação</h3></a>
        </div>
        <div>
        <a href="{% url 'poupanca' %}"><h3>Minhas<br> Poupanças</h3></a>
        </div>

        <div>
        <a href='{% url 'extrato' %}'><h3>Extrato</h3></a>
        </div>

        <div>
            <h3>Dicas<br> financeiras</h3>
        </div>
        <a href="{% url 'logout' %}"><h3>Logout</h3></a>
    <div>
</body>

</html
