{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supple</title>

    <link rel="stylesheet" href="{% static  'css/style.css' %}">
</head>

<body>
    <section id="header">

        <div class="titulo">
            <h1 class="titulo">Olá, {{request.user.first_name}}
            </h1>
            <h4 class="saldo">Saldo: </h4>
            <h2 class="saldo">{{ saldo_do_usuario }}</h2>
        </div>

        <div class="imgtitulo">
            <img class="imgtitulo" src="{% static 'img/avatar.svg' %}" alt="avatar">
        </div>

    </section>


    <a href="{% url 'index' %}">
        <div class=" box ">
            <h3>Adicionar<br> Movimentação</h3>
            <img class="imagembox " src="{% static 'img/dinheiromovimentacao.svg' %}" alt="dinheiro">
        </div>
    </a>

    <a href="{% url 'poupanca' %}">
        <div class="box ">
            <h3>Minhas<br> Poupanças</h3>
            <img class="imagembox " src="{% static 'img/minhaspoupancas.svg' %}" alt="ilustraçao cofrinho com moedas ">
        </div>
    </a>

    <a href="{% url 'extrato' %}">
        <div class="box ">
            <h3>Extrato</h3>
            <img class="imagembox" src="{% static 'img/extrato.svg' %}" alt="extrato">
        </div>
    </a>

    <a>

        <div class="box " style="border-color: #7066fc; ">
            <h3>Dicas<br> financeiras
                <br>
                <small>Em breve!</small></h3>
            <img class="imagembox " src="{% static 'img/pessoa_ensimando.png' %}" alt="pessoa ensinando ">
        </div>
    </a>

    <div class="logout "> <a class="logout " href="{% url 'logout' %} ">Deslogar da conta</a></div>

</body>

</html