@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600&display=swap');
 :root {
    --roxoclaro: #A163F7;
    --roxoescuro: #724D93;
    --vermelho: #FE8684;
    --preto: #333333;
    --roxoazulado: #6F66FC;
    --bege: #FEFAF2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: josefin sans;
}


/*pagina de login*/

.logologin {
    max-width: 31.25rem;
    width: 50%;
    margin-top: 40px;
}

.titulologin {
    font-weight: 400;
    font-size: medium;
    margin-top: 5%;
    color: #333333;
}

.inputlogin {
    border-radius: 1.25rem;
    padding: 0.625rem;
    box-shadow: 0rem 0.313rem 0.675rem #7066fc32;
    color: #6F66FC;
    border-color: #7066fc;
}

.formlogin {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 18.75rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 2.5rem;
}

.button {
    max-width: 9.375rem;
    width: 25%;
    height: 1.875rem;
    border-radius: 1.25rem;
    padding: 0.625rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0rem 0.313rem 0.625rem #a163f77a;
    border: none;
    background-color: #FE8684;
    color: #FFFF;
    margin-top: 5%;
    text-align: center;
}

.imagemlogin {
    max-width: 12.5rem;
    width: 60%;
    padding-top: 7%;
    margin-left: auto;
    margin-right: auto;
}

.logincontainer {
    max-width: 25rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10%;
}


/*pagina de inicial*/


.wrapper-pag-inicial{
    padding: 1.563rem;
    /* border: 1px solid blue; */
}

#header{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    padding: 1.25rem;
    justify-content: center;

}



#titulo-pag-inicial {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 43.7rem;
    width: 15rem;
    align-items: flex-start;
    /* border: 1px solid red; */
    padding: 1.25rem;
    gap: 0.625rem;
}

.titulo,
.saldo {
    color: #333333;
}

.titulo {

    max-width: 43.7rem;
    width: 80%;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;


}



.saldo {
  /* border: pink 1px solid; */
  display: flex;
  align-self: center;
  justify-self: baseline;
}


.imgtitulo {
    box-sizing: border-box;
    /* border: 1px solid orange; */
    width: 15rem;
}

/* #img-pag-inicial-menina{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow-x: visible;
} */

/* .container-boxes{
    border: 1px solid green;
} */

.box {
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    width: 80%;
    border-radius: 15px;
    height: 120px;
    padding: 5%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 10px #7066fc32;
    color: #6F66FC;
    font-style: normal;
    border: 2px solid #7066fc;
    align-items: center;
}

a {
    text-decoration: none;
}

.imagembox {
    width: 5.12rem;
    height:5.12rem;
}

.logout {
    font-style: normal;
    color: #6F66FC;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 1.25rem;
}

h1 {
    color: #6F66FC;
}

h2 {
    margin-top: 5%;
}



h4 {
    margin-top: 5%;
}




/*Index*/

.indexinput {
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #6F66FC;
    border-color: #7066fc;
}

.data {
    border-radius: 1.25rem;
    padding: 0.625rem;
    color: #6F66FC;
    border-color: #7066fc;
    display: flex;
    gap: 1.25rem;
    max-width: 700px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.625rem;
    margin-top: 1.25rem;
}

.botaovoltar {
    margin-top: 5%;
    margin-left: 5%;
}

.inputcontainer {
    text-align: center;
}


/*extrato*/

.movimentacaoextrato {
    border-radius: 0.625rem;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    max-width: 43.75rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    color: #6F66FC;
    border: 0.125rem solid #7066fc;
    list-style: none;

}

.avisomovimentacao {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #FE8684;
}


/*poupança*/

.listapoupanca {
    text-decoration: none;
    font-size: large;
    color: #333333;
    list-style: none;
}

.saldopoupanca {
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    color: #6F66FC;
}

.boxpoupanca {
    margin-right: auto;
    margin-left: auto;
    max-width: 43.75rem;
    width: 80%;
    border-radius: 15px;
    height: 7.5rem;
    padding: 5%;
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0rem 0.313rem 0.625rem #7066fc32;
    color: #FEFAF2;
    font-style: normal;
    border: 0.125rem solid #7066fc;
    background-color: #6F66FC;
}

/*
@media screen and (min-width:'800px') {

} */
